/* ==UserStyle==
@name           Minobu
@namespace      https://github.com/NotNocky/Minobu
@version        0.2.4
@description    Minobu discord theme
@author         NotNocky      
==/UserStyle== */

@-moz-document domain("discord.com") {
    :root {
        --background-primary: #1d1f21;
        --background-secondary: #1d1f21;
        --background-tertiary: #1d1f21;
        --elevation-low: unset;
    }
    * {
        scrollbar-color: #26292c #00000000 !important;
    }
    .selected-bZ3Lue {
        color: #ac8aac;
    }
    /* search results */
    .resultsGroup-r_nuzN {
        background-color: #1d1f21;
    }
    [aria-label="Servers sidebar"] {
        background-color: #1d1f21;
    }
    [aria-label="User area"] {
        background-color: #1d1f21;
    }
    /* message box */
    .inner-MADQqc {
        background-color: #26292c;
    }
    /* friend list etc */
    .tabBody-3YRQ8W {
        background-color: #1d1f21;
    }
    /* hide side bar items (discovery the spacer and client download) */
    ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:nth-last-child(2),
    ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:nth-last-child(3),
    ul[data-list-id="guildsnav"] > div[class^="scroller"] > div:nth-last-child(4) {
    display: none;
    }
    
    /* hide video call button on unsupported browsers */
    div[aria-label="Browser Not Supported"] {
        display: none;
    }
    /* hide tool bar help button */
    .toolbar-1t6TWx a:last-child {
        display: none;
    }
    /* hide nitro tab */
    #private-channels-2 {
        display: none;
    }
    /* hide discovery tab */
    #private-channels-1 {
        display: none;
    }
    /* hide nitro gift icon */
    button[aria-label="Send a gift"] {
        display: none;
    }
    /* hide sticker icon */
    button[aria-label="Open sticker picker"] {
        display: none;
    }
    /* figure it out. */
    button[aria-label="Open GIF picker"] {
        display: none;
    }
    /* remove werid gradiant on search results */
    [id^="search-result"]::after {
        display:none;
    }
    /* move typing above text area */
    main[class*="chatContent"] form[class*="form"] div[class*="typing"][class*="base"] {
        bottom: unset;
        /* same as scrollerSpacer???? */
        top: 6px;
    }
    div[class*="channelTextArea"] {
        /* space for typing to appear */
        margin-top: 32px;
        /* align with icons on left */
        margin-bottom: 6px;
    }
    div[class*="scrollerSpacer"] {
        height: 6px;
    }
}
